body {
    background-color: rgb(1, 66, 130);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
}

form {
    width: 30rem;
    margin: 1rem auto;
    background-color: rgb(231, 237, 246);
    border: 1px solid rgb(231, 237, 246);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 2rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    display: block;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font: inherit;
    border: 1px solid black;
    border-radius: 4px;
}

label {
    display: block;
    margin: 0.5rem 0;
    font: inherit;
}

input:focus {
    background-color: rgb(1, 66, 130);
    color: white;
}

.terms {
    display: flex;
}

.terms input {
    width: auto;
    margin: 0;
}

.terms label {
    margin: 0.2rem;
    margin-left: 0.5rem;
}

button {
    width: 7rem;
    height: 3rem;
    font: inherit;
    background-color: rgb(1, 66, 130);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: rgb(14, 127, 241);
}

.btn {
    text-align: center;
}